<main class="px-10">
  <div class="flex justify-end mt-5">
    <span
      class="text-xl font-medium bg-[#cb075a] text-white px-5 py-2 rounded-md hover:cursor-pointer"
      (click)="createTaskDialog()"
    >
      Add Task
    </span>
  </div>
  <div class="flex justify-between items-center gap-3 flex-wrap mt-5">
    <!-- search -->
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput />
    </mat-form-field>
    <!-- by user -->
    <mat-form-field>
      <mat-label>By user</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- status -->
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- date range -->
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" />
        <input matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <!-- table -->
  <div class="table-container">
    <!-- if data retrived -->
    <div
      class="flex justify-between items-center gap-2 p-5 bg-[#cb075a] text-white"
    >
      <span class="w-[5%]">No.</span>
      <!-- <span class="w-[10%]">Image</span> -->
      <span class="w-[20%]">Title</span>
      <span class="w-[20%]">User</span>
      <span class="w-[15%]">DeadLine</span>
      <span class="w-[15%]">Status</span>
      <span class="w-[25%]"></span>
    </div>
    <div class="row-style" *ngFor="let task of tasks; index as index">
      <span class="w-[5%]">{{ index + 1 }}</span>
      <!-- <span class="w-[10%]">
        <img [src]="task.image" alt="img" />
      </span> -->
      <span class="w-[20%]">{{ task.title }}</span>
      <span class="w-[20%]">{{ task.userId.username }}</span>
      <span class="w-[15%]">
        {{ task.deadline | date : "shortDate" }}
      </span>
      <span class="w-[15%]">{{ task.status }}</span>
      <span class="w-[25%] flex gap-3">
        <span class="btn-update">Update</span>
        <span class="btn-delete" (click)="removeTaskDialog(task._id)"
          >Delete</span
        >
      </span>
    </div>
  </div>
  <!-- if loading -->
  <div class="text-center py-3" *ngIf="isLoading">
    <app-spinner1></app-spinner1>
  </div>
  <!-- if no data -->
  <div
    class="text-center py-3 text-[#b1b0b2]"
    *ngIf="!isLoading && tasks.length === 0"
  >
    No data
  </div>
  <!-- paginator of table -->
  <app-paginator-of-all-tasks
    (tasksDataForParent)="changeTasksData($event)"
    (isLoading)="isLoading = $event"
  ></app-paginator-of-all-tasks>
</main>
