<main class="px-10">
  <div class="flex justify-end mt-5">
    <span
      class="btn-addTask"
      [class]="{
        'btn-addTask-md-sm': innerWidth < 768,
      }"
      (click)="createTaskDialog()"
    >
      {{ "buttons.addTask" | translate }}
    </span>
  </div>
  <div class="flex justify-between items-center gap-3 flex-wrap mt-5">
    <!-- search -->
    <mat-form-field
      [class]="{
        'w-full': innerWidth < 768
      }"
    >
      <mat-label>{{ "common.search" | translate }}</mat-label>
      <input matInput [(ngModel)]="keyword" (keyup)="getAllTasks()" />
    </mat-form-field>
    <!-- by user -->
    <mat-form-field
      [class]="{
        'w-full': innerWidth < 768
      }"
    >
      <mat-label>{{ "users.user" | translate }}</mat-label>
      <mat-select [(value)]="userId" (valueChange)="getAllTasks()">
        <mat-option value="">All</mat-option>
        <mat-option [value]="user._id" *ngFor="let user of users$ | async">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- status -->
    <mat-form-field
      [class]="{
        'w-full': innerWidth < 768
      }"
    >
      <mat-label>{{ "common.status" | translate }}</mat-label>
      <mat-select [(value)]="status" (valueChange)="getAllTasks()">
        <mat-option value="">All</mat-option>
        <mat-option value="In-Progress">In-Progress</mat-option>
        <mat-option value="Complete">Complete</mat-option>
        <mat-option value="Canceled">Canceled</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- date range -->
    <div
      [class]="{
        'date-range-lg': innerWidth >= 768,
        'date-range-md-sm': innerWidth < 768
      }"
    >
      <mat-form-field>
        <mat-label>{{ "tasks.dateRange" | translate }}</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input
            matEndDate
            placeholder="End date"
            formControlName="end"
            (dateChange)="getAllTasks()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-icon-button (click)="resetDate()">
        <mat-icon class="text-[#707070]">autorenew</mat-icon>
      </button>
    </div>
  </div>
  <!-- table -->
  <div class="table-container">
    <!-- if data retrived -->
    <div
      class="table-header"
      [class]="{
        'table-header-lg': innerWidth >= 768,
        'table-header-md-sm': innerWidth < 768,
      }"
    >
      <span class="w-[5%]">{{ "common.position" | translate }}</span>
      <!-- <span class="w-[10%]">Image</span> -->
      <span class="w-[25%] text-center">{{ "tasks.title" | translate }}</span>
      <span class="w-[20%] text-center">{{ "users.user" | translate }}</span>
      <span class="w-[15%] text-center">
        {{ "tasks.deadLine" | translate }}
      </span>
      <span class="w-[15%] text-center">{{ "common.status" | translate }}</span>
      <span class="w-[25%] text-center"></span>
    </div>
    <div
      class="table-rows"
      [class]="{
      'table-rows-lg':innerWidth>=768,
      'table-rows-md-sm':innerWidth<768,
    }"
      *ngFor="let task of tasksToView; index as index"
    >
      <span class="w-[5%]">{{ firstRowPosition + index }}</span>
      <!-- <span class="w-[10%]">
          <img [src]="'https://crud-5swn.onrender.com/' + task.image" alt="img" />
        </span> -->
      <span class="w-[25%] text-center">{{ task.title }}</span>
      <span class="w-[20%] text-center">{{ task.userId.username }}</span>
      <span class="w-[15%] text-center">
        {{ task.deadline | date : "shortDate" }}
      </span>
      <span class="w-[15%] text-center">{{ task.status }}</span>
      <span class="w-[25%] flex justify-center gap-3">
        <span class="btn-update" (click)="updateTaskDialog(task)">
          {{ "buttons.update" | translate }}
        </span>
        <span class="btn-delete" (click)="removeTaskDialog(task._id)">
          {{ "buttons.delete" | translate }}
        </span>
      </span>
    </div>
  </div>
  <!-- if loading -->
  <div class="text-center" *ngIf="isLoading">
    <app-spinner1></app-spinner1>
  </div>
  <!-- if no data -->
  <div
    class="text-center py-3 text-[#b1b0b2]"
    *ngIf="!isLoading && tasksToView.length === 0"
  >
    {{ "common.noData" | translate }}
  </div>
  <!-- paginator of table -->
  <app-task-list-paginator></app-task-list-paginator>
</main>
