<main class="px-10 mt-5">
  <mat-form-field>
    <mat-label>search</mat-label>
    <input matInput />
  </mat-form-field>
  <!-- table -->
  <div class="table-container">
    <!-- if data retrived -->
    <div
      class="flex justify-between items-center gap-2 p-5 bg-[#cb075a] text-white"
    >
      <span class="w-[5%]">No.</span>
      <span class="w-[15%]">Name</span>
      <span class="w-[20%]">Email</span>
      <span class="w-[20%]">Assigned Tasks</span>
      <span class="w-[15%]">Status</span>
      <span class="w-[25%]"></span>
    </div>
    <div class="row-style" *ngFor="let user of usersToView; index as index">
      <span class="w-[5%]">{{ firstRowPosition + index }}</span>
      <span class="w-[15%]">{{ user.username }}</span>
      <span class="w-[20%]">{{ user.email }}</span>
      <span class="w-[20%] text-center">{{ user.assignedTasks }}</span>
      <span class="w-[15%]">{{ user.status }}</span>
      <span class="w-[25%] flex gap-3">
        <span class="btn-update">Update</span>
        <span class="btn-delete" (click)="removeUserDialog(user._id)"
          >Delete</span
        >
      </span>
    </div>
    <!-- if loading -->
    <div class="text-center py-3" *ngIf="isLoading">
      <app-spinner1></app-spinner1>
    </div>
    <!-- if no data -->
    <div
      class="text-center py-3 text-[#b1b0b2]"
      *ngIf="!isLoading && usersToView.length === 0"
    >
      No data
    </div>
  </div>
  <!-- paginator of table -->
  <app-paginator-of-users></app-paginator-of-users>
</main>
