<main class="px-10 mt-5">
  <mat-form-field>
    <mat-label>search</mat-label>
    <input matInput [(ngModel)]="name" (keyup)="getAllUsers()" />
  </mat-form-field>
  <!-- table -->
  <div class="table-container">
    <!-- if data retrived -->
    <div
      class="flex justify-between items-center gap-2 p-5 bg-[#cb075a] text-white"
    >
      <span class="w-[5%]">No.</span>
      <span class="w-[15%]">Name</span>
      <span class="w-[25%]">Email</span>
      <span class="w-[20%]">Assigned Tasks</span>
      <span class="w-[20%]">Status</span>
      <span class="w-[15%]"></span>
    </div>
    <div class="row-style" *ngFor="let user of usersToView; index as index">
      <span class="w-[5%]">{{ firstRowPosition + index }}</span>
      <span class="w-[15%]">{{ user.username }}</span>
      <span class="w-[25%]">{{ user.email }}</span>
      <span class="w-[20%] text-center">{{ user.assignedTasks }}</span>
      <span class="w-[20%]">{{ user.status }}</span>
      <span class="w-[15%] flex gap-3">
        <span class="btn-delete" (click)="removeUserDialog(user._id)">
          Delete
        </span>
      </span>
    </div>
  </div>
  <!-- if loading -->
  <div class="text-center" *ngIf="isLoading">
    <app-spinner1></app-spinner1>
  </div>
  <!-- if no data -->
  <div
    class="text-center py-3 text-[#b1b0b2]"
    *ngIf="!isLoading && usersToView.length === 0"
  >
    No data
  </div>
  <!-- paginator of table -->
  <app-user-list-paginator></app-user-list-paginator>
</main>
