<main class="px-10 mt-5">
  <mat-form-field
    [class]="{
      'w-full': innerWidth < 768
    }"
  >
    <mat-label>{{ "common.search" | translate }}</mat-label>
    <input matInput [(ngModel)]="name" (keyup)="getAllUsers()" />
  </mat-form-field>
  <!-- table -->
  <div class="table-container">
    <!-- if data retrived -->
    <div
      class="table-header"
      [class]="{
      'table-header-lg': innerWidth >= 768,
      'table-header-md-sm': innerWidth < 768,
    }"
    >
      <span class="w-[5%] text-center">
        {{ "common.position" | translate }}
      </span>
      <span class="w-[15%] text-center">{{ "users.name" | translate }}</span>
      <span class="w-[25%] text-center">{{ "users.email" | translate }}</span>
      <span class="w-[15%] text-center">
        {{ "users.assignedTasks" | translate }}
      </span>
      <span class="w-[20%] text-center">{{ "common.status" | translate }}</span>
      <span class="w-[20%] text-center"></span>
    </div>
    <div
      class="table-rows"
      [class]="{
    'table-rows-lg':innerWidth>=768,
    'table-rows-md-sm':innerWidth<768,
  }"
      *ngFor="let user of usersToView; index as index"
    >
      <span class="w-[5%] text-center">{{ firstRowPosition + index }}</span>
      <span class="w-[15%] text-center">{{ user.username }}</span>
      <span class="w-[25%] text-center">{{ user.email }}</span>
      <span class="w-[15%] text-center">{{ user.assignedTasks }}</span>
      <span class="w-[20%] text-center">{{ user.status }}</span>
      <span class="w-[20%] flex justify-center gap-3">
        <span class="btn-delete" (click)="removeUserDialog(user._id)">
          {{ "buttons.delete" | translate }}
        </span>
        <span
          class="btn-inactive"
          (click)="setUserState(user._id, user.status)"
          *ngIf="user.status === 'Active'"
        >
          {{ "buttons.inActive" | translate }}
        </span>
        <span
          class="btn-active"
          (click)="setUserState(user._id, user.status)"
          *ngIf="user.status != 'Active'"
        >
          {{ "buttons.active" | translate }}
        </span>
      </span>
    </div>
  </div>
  <!-- if loading -->
  <div class="text-center" *ngIf="isLoading">
    <app-spinner1></app-spinner1>
  </div>
  <!-- if no data -->
  <div
    class="text-center py-3 text-[#b1b0b2]"
    *ngIf="!isLoading && usersToView.length === 0"
  >
    {{ "common.noData" | translate }}
  </div>
  <!-- paginator of table -->
  <app-user-list-paginator></app-user-list-paginator>
</main>
