<main class="flex flex-col gap-5 p-5">
  <!-- header -->
  <div class="flex justify-between items-center">
    <span class="text-3xl font-bold" *ngIf="!data.isDialogForUpdateTask">
      Add new task
    </span>
    <span class="text-3xl font-bold" *ngIf="data.isDialogForUpdateTask">
      Update the task
    </span>
    <div class="example-button-container">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        (click)="onNoClick()"
      >
        <mat-icon style="color: #bd3630">close</mat-icon>
      </button>
    </div>
  </div>
  <!-- body -->
  <form
    [formGroup]="taskForm"
    enctype="multipart/form-data"
    class="flex flex-col"
  >
    <!-- add title -->
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')">
        Title should be greater than 4 characters
      </mat-error>
    </mat-form-field>
    <!-- add user -->
    <mat-form-field>
      <mat-label>Users</mat-label>
      <mat-select formControlName="userId">
        <mat-option [value]="user._id" *ngFor="let user of users$ | async">
          {{ user.username }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taskForm.get('userId')?.hasError('required')">
        User is required
      </mat-error>
    </mat-form-field>
    <!-- add image -->
    <div class="flex flex-col mb-3">
      <div class="flex justify-start items-center gap-3">
        <label for="selectFile" class="btn-selectFile">Add image*</label>
        <span>{{ imageFile?.name }}</span>
        <input
          type="file"
          id="selectFile"
          hidden
          (change)="selectImage($event)"
          (click)="setIsImageRequired()"
        />
        <span *ngIf="data.isDialogForUpdateTask">
          <img
            [src]="'https://crud-5swn.onrender.com/' + data.task.image"
            alt="img"
            class="w-20"
          />
        </span>
      </div>
      <p *ngIf="isImageRequired" class="px-[16px] pt-1 text-xs text-[#f54d41]">
        Image is required
      </p>
    </div>
    <!-- add date -->
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="deadline" [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="taskForm.get('deadline')?.hasError('required')">
        Date is required
      </mat-error>
    </mat-form-field>
    <!-- add description -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        style="height: 200px"
        formControlName="description"
      ></textarea>
      <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>
  </form>
  <!-- footer -->
  <div class="flex justify-center gap-3">
    <button
      *ngIf="!data.isDialogForUpdateTask"
      (click)="createTask()"
      [disabled]="taskForm.invalid || isLoading"
      [class]="{
        'btn-create-active': taskForm.valid && !isLoading,
        'btn-create-inactive': !taskForm.valid || isLoading
      }"
    >
      <span *ngIf="!isLoading">Create</span>
      <span *ngIf="isLoading">Loading...</span>
    </button>
    <button
      *ngIf="data.isDialogForUpdateTask"
      (click)="updateTask()"
      [disabled]="taskForm.invalid || isLoading"
      [class]="{
        'btn-create-active': taskForm.valid && !isLoading,
        'btn-create-inactive': !taskForm.valid || isLoading
      }"
    >
      <span *ngIf="!isLoading">Update</span>
      <span *ngIf="isLoading">Loading...</span>
    </button>
    <button class="btn-close" (click)="onNoClick()">Close</button>
  </div>
</main>
